<div class="class custom">
<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b style="color: lightslategray">What is Flikkar and what kind of services they provides?</b>
      </mat-panel-title>

    </mat-expansion-panel-header>
    <p style="color: lightslategray">Flikkar is an Indian classified Job-Portal. And we are providing online plateform to Job Posting.</p>

  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b style="color: lightslategray">Job Posting @Flikkar is free?</b>
      </mat-panel-title>

    </mat-expansion-panel-header>
    <p  style="color: lightslategray">Yes, its absolutely free service.</p>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b style="color: lightslategray">What job categories Fikkar does provides.?</b>
      </mat-panel-title>

    </mat-expansion-panel-header>
    <p  style="color: lightslategray">We provides mostly all categories of jobs based on Varanasi location.</p>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b style="color: lightslategray">What Other services Flikkar provids?</b>
      </mat-panel-title>

    </mat-expansion-panel-header>
    <p  style="color: lightslategray">As of now we are providing just job related services, soon we are coming in other sector as well.</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b style="color: lightslategray">How we can reach to Flikkar for any clarification.?</b>
      </mat-panel-title>

    </mat-expansion-panel-header>
    <p  style="color: lightslategray">Anyone can reach to Flikkar customer care and we would happy to resolve customer`s quries.</p>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b style="color: lightslategray">How would we know if there will any vacancy @Flikkar.?</b>
      </mat-panel-title>

    </mat-expansion-panel-header>
    <p  style="color: lightslategray">We used to publish all vacancies on our job portal. you can directly apply there.</p>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b style="color: lightslategray"> How do I get support? </b>
      </mat-panel-title>

    </mat-expansion-panel-header>
    <p  style="color: lightslategray">You can direct write to flikkar customer care email.</p>
  </mat-expansion-panel>
</mat-accordion>
</div>