.custom{
    padding-left: 5%;
    padding-right: 5%;
   padding-bottom: 2%;
  }
  .line{
   
    background-color:white;
  }
  .clr{
    color:#3498DB ;
  }
  .content{
    padding-left: 15px;
    color: #566573;
  }
  .marque{
    padding-right: 5px;
    padding-left: 10px;
  }