<div class="class row">
  <div class="col-9">
    <div *ngFor="let item of values">
      <div class="custom">
        <!-- <div class="line"><hr></div> -->
        <mat-card class="example-card">

          <mat-card-header>
            <mat-card-title>
              <div class="clr"> {{item.jobTitle}}</div>
            </mat-card-title>
            <mat-card-subtitle>{{item.companyName}}</mat-card-subtitle>
            <mat-card-subtitle><b>INR :</b>{{item.minSalary}} - {{item.maxSalary}} &nbsp;&nbsp;&nbsp;&nbsp; <b>Exp :</b>
              {{item.minExperience}} - {{item.maxExperience}} Years &nbsp;&nbsp;&nbsp;&nbsp; <b>Job Type: </b>Permanent
              &nbsp;&nbsp;&nbsp;&nbsp; <b>Posted: </b>2 day(s) ago</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <div class="content"><b>Job Discription :</b> {{item.jobDescription}} <br></div>


            <br>
            <div class="content"><b>Job Location :</b> Varanasi</div>
          </mat-card-content>

          <mat-card-actions>
            <div class="content"> <button mat-raised-button color="primary">Apply</button>
              <button mat-raised-button color="primary" (click)="getJobDetail()">Details..</button>
            </div>

          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  <div style="color:lightslategray" class="col-3">
    <div style="color:#3498DB;font-size: 18px"><b>Our Top Recruiters</b></div>
    <marquee behavior="scroll" direction="down" height="20%">
      Sunbeam Academy <br><br>
      DPS Kashi <br><br>
      TATA Motors <br><br>
      Vishal Auto Agency <br><br>
      Krishna Hundai <br><br>
      JHV Mall <br><br>
      Youngtech S/w Pvt. Ltd <br><br>
      DPS Kashi <br><br>
      TATA Motors <br><br>
      Vishal Auto Agency <br><br>
      Krishna Hundai <br><br>
      IP Mall<br><br>
      Sunbeam Academy <br><br>
      DPS Kashi <br><br>
      TATA Motors <br><br>
      Vishal Auto Agency <br><br>
      Krishna Hundai <br><br>
      JHV Maull <br><br>
      Silver Grove School<br><br>
      WH Smith School<br><br>
      Happy Model School <br><br>
    </marquee>
  </div>
</div>