<div class="example-card ">
  <mat-card>
    <h6 style="text-align: center">Login</h6>
    
    <mat-card-content>


      <mat-form-field class="example-container ">
        <input matInput placeholder="Email Address">
      </mat-form-field>

      <mat-form-field class="example-container ">
        <input matInput placeholder="Password">
      </mat-form-field>

      <div class="btnCard">
        <button mat-raised-button color="primary">Go Login</button>
        <br> <br>

        Not registere yet. Lets <span><a [routerLink]="['/sign-up']">SignUp</a></span>
      </div>
    </mat-card-content>

  </mat-card>
</div>