.example-container {
    display: flex;
    flex-direction: column;
    width: 100%;
   
  }
  .example-card {
    margin-left:35%;
    margin-right: 35%;
  }
  .btnCard{
    text-align: center;
  }
  // .example-container > * {
  //   width: 100%;
  // }