.example-container {
    display: flex;
    flex-direction: column;
   // width: 100%;
   
  }
  .example-card {
    margin-left: 5%;
    margin-right: 10%;
  }
  .btnCard{
    text-align: center;
  }
  .marque{
    padding-right: 5px;
    padding-left: 250px;
  }